ion-header {
  ion-toolbar {
    .toolbar-a-img {
      display: flex;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-between;
      a {
        background-color: transparent;
        color: var(--ion-color-secondary-contrast, #3880ff);
        text-decoration: none;
        font-size: 24px;
        display: flex;
        align-content: center;
        align-items: center;
        ion-icon {
          color: var(--ion-color-secondary-contrast);
          font-size: 30px;
          margin: -8px 8px;
        }
      }
      img {
        height: 100px;
      }
      @media (min-width: 768px) {
        img {
          margin: 0px auto;
          height: 150px;
        }
      }
    }
  }
}

ion-content {
  @media (min-width: 1025px) {
    display: flex;
    align-items: flex-end;
    .section-img-conteiner{
      width: 50%;
      height: 100%;
    }
    .form_content{
      width: 50%;
      height: 100%;
      margin-left: 45%;
    }
  }
  .img-login {
    width: 330px;
    height: 174px;
    position: relative;
    top: -60vh;
    z-index: 2;
    @media (min-width: 768px) and (max-width: 1024px) {
      width: 530px;
      height: 374px;
      top: -68vh;
    }
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      width: 530px;
      height: 374px;
      top: -68vh;
    }
    @media (min-width: 1025px) {
      width: 430px;
      height: 217px;
      top: -133vh;
      left: 85%;
    }
  }
  .curved {
    background: var(--ion-color-secondary);
    height: 32vh;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    position: relative;
    top: -36vh;
    z-index: 1;
    @media (min-width: 1025px) {
      height: 100vh;
      width: 80%;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      top: -37vh;
    }
  }
  .curvedb {
    background: var(--ion-color-danger);
    height: 15vh;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    opacity: 0.8;
    z-index: 0;
    @media (min-width: 1025px) {
      width: 135%;
    }
  }
  .form_content {
    position: relative;
    top: 10vh;
    @media (min-width: 320px) and (max-width: 1024px) {
      max-width: 350px;
      margin: 0 auto;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
      position: relative;
      top: -25vh;
    }
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      position: relative;
      top: -25vh;
    }
  }
}

