<ion-icon button="true" name="ellipsis-horizontal-outline" slot="end" [id]="dat.id"></ion-icon>
<ion-modal id="example-modal" #modal [trigger]="dat.id">
  <ng-template>
    <div class="wrapper">
      <h1>Que desea hacer</h1>
      <ion-list lines="none">
        <ion-item button="true" detail="false" (click)="detailNews()">
          <ion-label>Ver</ion-label>
        </ion-item>
        <ion-item button="true" detail="false" (click)="deleteNews(dat)">
          <ion-label>Eliminar</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ng-template>
</ion-modal>
