<ion-card *ngFor=" let dat of data">
  <ion-item lines="full" color="secondary">
    <img src="../../../assets/images/conexion sin fondo.png" class="ion-margin ion-padding img-login" />
    <ion-card-title>{{dat.title}}</ion-card-title>
    <ion-icon name="ellipsis-horizontal-outline" slot="end"></ion-icon>
  </ion-item>
  <img alt="Silhouette of mountains" src="{{dat.image}}" />
  <ion-card-header>
    <ion-item>
      <ion-card-subtitle>{{dat.subtitle}}</ion-card-subtitle>
      <ion-icon name="terminal-outline" slot="end"></ion-icon>
      <ion-icon name="heart-circle-outline" slot="end"></ion-icon>
      <ion-icon name="heart-dislike-circle-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    {{dat.summaryDescription}}
  </ion-card-content>
</ion-card>
