ion-card{
    ion-item{
      img{
        height: 35px;
        margin: 0;
        padding: 0;
      }
      ion-card-title{
        font-size: 20px;
        margin-left: 8px;
      }
      ion-select::part(icon) {
        display: none !important;
      }
    }
}
