<ion-icon size="large" (click)="setOpen(true)" name="search-circle-outline"></ion-icon>
<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="setOpen(false)">
            <ion-icon size="large" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content scrollY='true'>
      <ion-content>
        <ion-searchbar animated="true" color="primary" (ionChange)="handleChange($event)"></ion-searchbar>

        <ion-card *ngFor=" let dat of results">
          <ion-item lines="full" color="secondary">
            <img src="../../../assets/images/conexion sin fondo.png" class="ion-margin ion-padding img-login" />
            <ion-card-title>{{dat.title}}</ion-card-title>
            <ion-icon name="ellipsis-horizontal-outline" slot="end"></ion-icon>
          </ion-item>
          <img alt="Silhouette of mountains" src="{{dat.image}}" />
          <ion-card-header>
            <ion-item>
              <ion-card-subtitle>{{dat.subtitle}}</ion-card-subtitle>
              <ion-icon name="terminal-outline" slot="end"></ion-icon>
              <ion-icon name="heart-circle-outline" slot="end"></ion-icon>
              <ion-icon name="heart-dislike-circle-outline" slot="end"></ion-icon>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            {{dat.summaryDescription}}
          </ion-card-content>
        </ion-card>

      </ion-content>
    </ion-content>
  </ng-template>
</ion-modal>
