ion-tab-bar{
  --background: var(--ion-color-primary);
  padding-bottom: 24px;
  ion-tab-button{
    ion-icon{
      color: var(--ion-color-secondary-contrast);
    }
  }
  ion-button{
    width: 100px;
    height: 100px;
    ion-icon{
      width: 85px;
      height: 85px;
      padding: 0px;
    }
  }
}
