<ion-header>
  <div class="opacity-header"></div>
  <div class="header">
    <a [routerLink]="['/login']" class='from_a_register'>
      <ion-icon name="arrow-back-outline"></ion-icon>
      volver
    </a>
  </div>
</ion-header>

<ion-content fullscreen='true' scrollX='false' scrollY='false'>
  <div class="border-radius-blue"></div>
  <div class="border-radius-white"></div>
  <div class="form_content">
    <form class='form_login' [formGroup]="recoverPassword" (ngSubmit)="recoverPasswordUser()">
      <div class="form_login_content">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="primary">Recuperar Contraseña</ion-card-subtitle>
          </ion-card-header>
          <ion-item>
            <ion-label position="floating">Email:</ion-label>
            <ion-input type="email" required formControlName="email" name="email"></ion-input>
            <ion-text color="danger"
              *ngIf="recoverPassword.get('email').hasError('required') && recoverPassword.get('email').touched">El Email
              es
              requerido</ion-text>
            <ion-text color="danger"
              *ngIf="recoverPassword.get('email').hasError('email') && recoverPassword.get('email').touched">El Email es
              invalido</ion-text>
          </ion-item>
          <ion-button [disabled]="recoverPassword.invalid">
            <p>recuperar</p>   
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </ion-card>
      </div>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
    <ion-title>
      Radio Conexion
    </ion-title>
  </ion-toolbar>
</ion-footer>
