<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen='true' scrollX='false' scrollY='false' class="ion-text-center ion-margin ion-padding"
  color="white" *ngIf="!loading">
  <form [formGroup]="registerUser" (ngSubmit)="register()" class='form_login' *ngIf="!isOpen">
    <ion-item>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
      </ion-avatar>
      <ion-item color="white">
        <ion-label position="stacked">Nombres:</ion-label>
        <ion-input type="text" required formControlName="name" name="name" placeholder="{{ userRegister.name }}"></ion-input>
        <ion-text color="danger"
          *ngIf="registerUser.get('name').hasError('required') && registerUser.get('name').touched">El Nombres es
          requerido</ion-text>
      </ion-item>
      <ion-item color="white">
        <ion-label position="stacked">Apellidos:</ion-label>
        <ion-input type="text" required formControlName="lastname" name="lastname" placeholder="{{ userRegister.lastName }}"></ion-input>
        <ion-text color="danger"
          *ngIf="registerUser.get('lastname').hasError('required') && registerUser.get('lastname').touched">El Apellidos
          es requerido</ion-text>
      </ion-item>
    </ion-item>
    <ion-item class="ion-item-birthdays" color="white">
      <ion-label position="stacked">Cumpleaños:</ion-label>
      <ion-input type="date" required formControlName="birthday" name="birthday" placeholder="{{ userRegister.birthday }}"></ion-input>
      <ion-text color="danger"
        *ngIf="registerUser.get('birthday').hasError('required') && registerUser.get('birthday').touched">El Cumpleaños
        es requerido</ion-text>
    </ion-item>
    <ion-item color="white">
      <ion-label position="stacked">Genero:</ion-label>
      <ion-input type="text" required formControlName="genders" name="genders" placeholder="{{ userRegister.gender }}"></ion-input>
      <ion-text color="danger"
        *ngIf="registerUser.get('genders').hasError('required') && registerUser.get('genders').touched">El Genero es
        requerido</ion-text>
    </ion-item>
    <ion-button color="secondary" expand="block" class='ion-margin-top' type="submit" [disabled]="registerUser.invalid">
      Registrate
    </ion-button>
  </form>
  <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
    <ng-template>
      <p class="ion-padding">{{ messageError }}</p>
    </ng-template>
  </ion-popover>
</ion-content>


