<ion-item>
  <ion-button color="primary">
    <app-badge [num]="commentsNumber" *appRecarga="commentsNumber"></app-badge>
  </ion-button>
  <ion-button [id]="dat.id + dat.id" color="primary">
    <ion-icon size="small" button="true" name="terminal-outline"></ion-icon>
  </ion-button>
  <ion-button color="danger" [id]="dat.id + dat.id + dat.id">
    <app-badge [colore]="colore" [num]="likesNumber" *appRecarga="likesNumber"></app-badge>
  </ion-button>
  <ion-button *ngIf="!likeTrue" (click)="newsLike(dat)" color="white">
    <ion-icon button="true" name="heart-circle-outline" color="danger"></ion-icon>
  </ion-button>
  <ion-button *ngIf="likeTrue" (click)="newsLike(dat)" color="danger">
    <ion-icon button="true" name="heart-circle"></ion-icon>
  </ion-button>
</ion-item>

<ion-modal id="example-modal" #modal [trigger]="dat.id + dat.id">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Modal</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modalComment.dismiss()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <form [formGroup]="commentUser">
          <ion-item color="white">
            <ion-label position="floating">comentario:</ion-label>
            <ion-textarea type="text" required formControlName="comment" name="comment"></ion-textarea>
            <ion-text color="danger"
              *ngIf="commentUser.get('comment').hasError('required') && commentUser.get('comment').touched">
              El comentario es requerido
            </ion-text>
            <ion-button expand="block" class='ion-margin-top' type="submit" [disabled]="commentUser.invalid"
              (click)="save(dat)">
              <p>siguiente</p>
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </form>
        <ion-item *ngFor=" let datcomment of comments">
          <ion-avatar slot="start">
            <ion-img src="{{ datcomment.photoURL }}"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>{{ datcomment.name }}</h2>
            <ion-textarea class=" ion-margin-top " disabled="true">{{ datcomment.comment }}</ion-textarea>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal #modal trigger="{{dat.id + dat.id + dat.id}}" [initialBreakpoint]="0.25"
  [breakpoints]="[0, 0.25, 0.5, 0.75]">
  <ng-template>
    <ion-content>
      <ion-list *ngFor="let datLike of likes">
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="{{datLike.photoURL}}"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>{{datLike.name}} {{datLike.lastName}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
